<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Cart</title>
</head>

<body>
    <section class="section">
        <!-- navbar section -->
        <nav class="navbar">
            <div class="nav-container">
                <!-- icon -->
                <div class="brand">
                    E-Commerce
                </div>
                <!-- navbar list -->
                <ul class="list-wrapper">
                    <a href="#">
                        <li class="list">Shop</li>
                    </a>
                    <a href="#">
                        <li class="list">Explore</li>
                    </a>
                    <a href="#">
                        <div class="cart">
                            <!-- cart icon -->
                            <ion-icon name="cart-outline"></ion-icon>
                        </div>
                    </a>
                    <a href="#">
                        <li class="list">About</li>
                    </a>
                    <a href="#">
                        <li class="list">Contact</li>
                    </a>
                </ul>
                <a href="#">
                    <div class="profile-block">
                        <!-- profile icon block -->
                        Profile
                    </div>
                </a>
            </div>
        </nav>
        <!-- navbar ends -->

        <section class="container">
            <div class="hero-container">
                <div class="text-wrapper">
                    <div class="hero-title">Order, Unpack, Enjoy</div>
                    <div class="hero-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</div>
                    <div class="input-container">
                        <input type="text">
                        <div class="ico">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slideContainer">
            <!-- image slide show  -->
            <!-- <img src="../static/assets/slide.png" class="img" /> -->
        </section>
        <section class="productContainer">
            <h2 class="title">Top Trending</h2>
            <div class="products">
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
            </div>
        </section>
        <section class="productContainer">
            <h2 class="title">Suggested for you</h2>
            <div class="products">
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
                <div class="card">
                    <img src="../static/assets/hero.jpg" alt="product" class="productImg">
                    <p class="productName">Product : Chair</p>
                    <p class="company">Lit</p>
                    <p class="ratings">Ratings : stars</p>
                </div>
            </div>
        </section>
    </section>

    <!-- icon packs -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>